<!doctype html>
<html>
  <head>
    <title>Drinking Around the World</title>
    <link rel="manifest" href="/static/site.webmanifest.json" />
    <link href="/static/favicon.ico" rel="icon" />
    <link href="/static/styles.css" rel="stylesheet" />

    <script src="/static/htmx.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="flex flex-col h-dvh justify-between">
      {{include "layouts/header"}}
      <div class="flex justify-center mt-2 mb-auto">
        {{template "content" .}}
      </div>
      {{include "layouts/footer"}}
    </div>
  </body>
</html>
